# Ce preseed repond aux questions techniques sans interet (miroir, paquets,
# chargeur de demarrage) ET fixe le mot de passe root (evite de le taper sur
# la console noVNC, dont le clavier est bugue). Toutes les autres questions
# "classiques" restent posees normalement : langue, clavier, fuseau horaire,
# partitionnement, nom de machine. Root login SSH est active automatiquement,
# et le mot de passe fixe devra etre change des la premiere connexion.
#
# L'installeur Wappos (github.com/byrtn/wappos-install) est clone directement
# sur le disque pendant l'installation Debian, et se lance automatiquement au
# tout premier vrai demarrage (service systemd one-shot attache a la console,
# pas besoin qu'un humain se connecte pour le declencher) : Debian + Wappos ne
# font plus qu'un seul enchainement, sans commande a taper entre les deux.

d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

d-i clock-setup/ntp boolean true

d-i passwd/root-login boolean true
d-i passwd/make-user boolean false
d-i passwd/root-password password wapposinstall
d-i passwd/root-password-again password wapposinstall

tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string curl rsync git
d-i pkgsel/upgrade select none
popularity-contest popularity-contest/participate boolean false

d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string default

d-i debian-installer/exit/poweroff boolean true

d-i preseed/late_command string \
    in-target sed -i 's/^#PermitRootLogin.*/PermitRootLogin yes/' /etc/ssh/sshd_config; \
    in-target git clone https://github.com/byrtn/wappos-install.git /root/wappos-install; \
    in-target chmod +x /root/wappos-install/install-wappos.sh; \
    in-target bash -c 'printf "%s\n" "[Unit]" "Description=Installation automatique de Wappos" "After=network-online.target getty@tty1.service" "Wants=network-online.target" "Conflicts=getty@tty1.service" "ConditionPathExists=!/root/.wappos-done" "" "[Service]" "Type=oneshot" "WorkingDirectory=/root/wappos-install" "ExecStartPre=/bin/sleep 20" "ExecStart=/root/wappos-install/install-wappos.sh" "ExecStartPost=/usr/bin/touch /root/.wappos-done" "ExecStopPost=/bin/systemctl --no-block start getty@tty1.service" "StandardInput=tty" "StandardOutput=tty" "StandardError=tty" "TTYPath=/dev/tty1" "TTYReset=yes" "TTYVHangup=yes" "" "[Install]" "WantedBy=multi-user.target" > /etc/systemd/system/wappos-install.service'; \
    in-target systemctl enable wappos-install.service
